<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>관리자 페이지</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link href="/css/table.css" rel="stylesheet">
    <link href="/css/member.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div id="header">
        <div id="header-inner">HppyPuppy!</div>
    </div>
    <div id="left">
        <ul>
            <li><a href="/main">통계/차트</a></li><br>
            <li><a href="/member">회원관리</a></li><br>
            <li><a href="#">홈페이지</a></li><br>
            <li><a href="/auth/logout">로그아웃</a></li><br>

        </ul>

    </div>
    <div id="content">
   

    </div>
</body>

</html>