
table {
	width:100%;
	margin:10px 0;
	border:0;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom : 50px;
}
th {
	background-color:#C3E7FA;
	color:#000000
}
th,td {
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border-collapse:collapse;
}
th, td {
	border: 1px solid #dcf1fc;
	border-width:1px 0 1px 0
}
tr {
	border: 1px solid #dcf1fc;
}
tr:nth-child(odd){
	background-color:#ebf7fd;
}
tr:nth-child(even){
	background-color:#fdfdfd;
}

